/* you will add css rules for element selectors and IDs */


/* you may add to or change the body rule */
body {
    font-family: sans-serif;
    color: #fff;
    background: #000;
}

/* ----- SUGGESTED COLORS -----
    - ARTICLES
    B26219 cinnamon
    FFD5AE pale peach
    FFBD82 peach
    - LINKS
    379CB2 medium blue
    82E8FF light blue

   ----- NEUTRAL COLORS you may use also -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/


/* --- link pseudo classes --- */

a {
    color: #379CB2;
}
a:hover {
    color: #82E8FF;
}
