/* you will add css rules for element selectors and IDs */


h2{
  text-align: left;
}

header {
  background: #333;
  padding: 2rem;
  margin: 0;
  border: 0;
  font-size: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

footer {
  color: #fff;
  font-size: 1rem;
  padding: 2rem;
  text-align: center;
  flex-wrap: wrap;

}
nav ul{
  display: flex;
  list-style: none;
  margin: 0;
}

nav ul li{
margin: 0;
margin-left: 1rem;
}
h1{
  text-align: center;
  color: #fff
}

article {
  display: flex;
  flex-direction: row;

}
#cougar {
  background: #492D09;
  justify-content: space-around;
}
#lion {
  background: #3D1F00;
  justify-content: space-around;

}
#tiger {
  background: #422100;
  justify-content: space-around;
}
/* you may add to or change the body rule */
body {
    font-family: sans-serif;
    color: #000;
    background: #000;
    max-width: 100%;
    margin: 0;
}
img {
    max-width: 100%; /* DO NOT delete or change this line */
display: block;
margin: 0 auto;
margin-top: 5rem;
}


.text {
  margin: 0;
  padding: 2rem;
  font-size: 1.5rem;
  line-height: 3rem;
  max-width: 600px;
  margin-bottom: 10rem;
  color: #fff;
box-sizing: content-box;
}

.photo {
  max-width: 600px;
  padding: 1rem;
  color:#fff;
}
/* ----- SUGGESTED COLORS -----
    - ARTICLES
    B26219 cinnamon
    FFD5AE pale peach
    FFBD82 peach
    - LINKS
    379CB2 medium blue
    82E8FF light blue

   ----- NEUTRAL COLORS you may use also -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/


/* --- link pseudo classes --- */
/* --- you may ADD other link pseudo classes for
        specific articles or sections to improve CONTRAST --- */

a {
    color: #88C5DD;
}
a:hover {
    color: #82E8FF;
}
